/* ToDoList.css */
/* Make sure to add media query! */

/* For the List */
.to-do-list {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.to-do-list h1 {
  margin-bottom: 20px;
}

.to-do-list div {
  margin-bottom: 20px;
}

.to-do-list input {
  margin-right: 10px;
  padding: 5px;
}

.to-do-list .add-button {
  padding: 5px 10px;
  cursor: pointer;
}

.add-button:hover {
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgb(28, 203, 28);
  font-size: larger;
  color: white;
}

.to-do-list ol {
  list-style-type: none;
  padding: 0;
}

.to-do-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-width: 600px;
}

.to-do-list .text {
  flex: 1;
  text-align: left;
  margin-right: 10px;
}

.to-do-list .delete-button,
.to-do-list .move-button {
  margin-left: 5px;
  padding: 5px 10px;
}

.delete-button:hover {
  background-color: hsl(0, 88%, 60%);
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  font-size: larger;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100%;
  margin-top: auto;
}

footer a {
  margin: 0 10px; /* Adjust as needed */
  color: lightcoral;
  text-decoration: none;
}

footer a:hover {
  margin: 0 10px; /* Adjust as needed */
  color: blue;
  text-decoration: none;
  font-size: x-large;
}

/* For iPhones */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  /* Insert iPhone specific CSS here */
}

/* For Apple tablets */
@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) {
  /* Insert Apple tablet specific CSS here */
}
